html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: 'Bitstream Vera Sans Mono', Consolas, Courier, monospace, 'Bitstream Vera Sans Mono', Consolas, Courier, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
html {
  font-size: 16px;
  font-size: 100%;
}
body {
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  color: #555;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size-adjust: auto;
}
body {
  padding: 0px;
}
.show_more {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  right: 0px;
}
#chatView,
fa-app {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.message {
  overflow: hidden;
}
.mainboard {
  border: solid 2px #607D8B;
  width: 95%;
  overflow: scroll;
  background-image: url('http://previews.123rf.com/images/kgtoh/kgtoh1002/kgtoh100202324/6473940-cork-board-texture-seamless-background-material-pattern.jpg');
  background-size: 90% 90%;
  /*http://previews.123rf.com/images/wiml/wiml1110/wiml111000031/10871179-beautiful-detailed-cork-texture-cork.jpg*/
  overflow-x: hidden;
}
.chatbox {
  overflow: scroll;
  overflow-x: hidden;
}
.boxfixed {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.item {
  display: inline-block;
  padding: 10px;
  width: 200px;
}
.contenedor {
  display: table;
}
.contenidos {
  display: table-row;
}
.columna1,
.columna2,
.columna3 {
  display: table-cell;
  min-height: 155px;
}
.animacion {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
a {
  color: #004080;
  text-decoration: none;
}
footer i {
  font-size: 2em;
}
.header {
  -webkit-box-shadow: 5px 5px 20px 5px #707070;
  box-shadow: 5px 5px 20px 5px #707070;
}
.contenedorUsuariosOnline {
  margin-top: 10px;
  padding-top: 21px;
  width: 90%;
  margin: auto auto;
}
.contenedorChat {
  border: solid 2px #607D8B;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: -5px 5px 10px 1px #A4A5A6;
  box-shadow: -5px 5px 10px 1px #A4A5A6;
}
.archivos {
  margin-bottom: 10px;
  margin-top: 10px;
}
.comentario img,
.comentario iframe {
  max-width: 90%;
  max-height: 1000px;
}
.comentario {
  background-color: #ECEFF1;
}
.comentario:nth-child(even) {
  background: #EFEBE9;
}
.mensajeDatos {
  font-size: 120%;
}
.LiVotos {
  padding:5px;
  margin-bottom:5px;
  max-width: 80%;
  border: solid 2px #607D8B;
-webkit-border-radius: 15px 15px 15px 0;
border-radius: 15px 15px 15px 0;  
}
.pin{
  width: 48%;
  display:inline-block;
  margin-left:10px;
}


select{
        height: 37px;
        padding: 1px 20px 1px;
        background: #02b8fa;
        color: #ffffff;
        border: #ffffff solid 1px;
        box-shadow: none;
        -ms-transition: 0.4s;
        -moz-transition: 0.4s;
        -webkit-transition: 0.4s;
        transition: 0.4s;
        border-radius: 3px;
}
/*# sourceMappingURL=master.css.map */