<fa-app style="width: 100%; height: 700px;">

    <fa-flexible-layout fa-options="{ratios:[1,1]}">



        <fa-header-footer-layout fa-options="{headerSize: 75, footerSize: 75}">


            <fa-surface>
                <a href="/hola" ui-sref="inicio">Ir al inicio</a> Prueba de board
                <button ng-click="pin.nuevo()">Nuevo pin</button>
                Hola

            </fa-surface>

<fa-modifier fa-size="[undefined, 50]" fa-origin="[0,0]" class="test">
            <fa-surface>

                <div class="grid">
                    <div class="grid__col3" ng-repeat="pin in pins">
                        <div class="card">
                            <div class="card__top card__top--img">
                                <!--<img src="/demo/images/demo/2-horizontal.jpg">-->
                                <strong class="card-title">{{pin.text}}</strong>
                            </div>

                            <div class="card__content card__content--small">
                                <span class="card-subtitle">Lorem Ipsum</span>

                                <div class="paragraph">
                                    <p>
                                        {{pin}}
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tristique orci a lacinia malesuada.
                                    </p>
                                </div>
                            </div>

                            <div class="card__actions">
                                <button class="btn btn--m btn--black btn--flat" lx-ripple>Share</button>
                                <button class="btn btn--m btn--orange btn--flat" lx-ripple>Learn more</button>
                            </div>
                        </div>
                    </div>
                </div>

            </fa-surface>
</fa-modifier>


        </fa-header-footer-layout>




        <fa-header-footer-layout fa-options="{headerSize: 75, footerSize: 75}">

            <!-- header -->
            <fa-surface>Header</fa-surface>

            <!-- content fa-background-color="'blue'" -->
            <fa-modifier fa-size="[undefined, undefined]" fa-origin="[0,0]" class="test">

                <fa-scroll-view fa-pipe-from="eventHandler" fa-options="{clipSize:500}">
                    <fa-view>

                        <fa-surface fa-pipe-to="eventHandler">

                            <li ng-repeat="mensaje in mensajes" class="list-row list-row--has-primary list-row--has-separator">
                                <div class="list-primary-tile">
                                    <img class="list-primary-tile__img" ng-src="{{mensaje.user.image}}">
                                </div>

                                <div class="list-content-tile list-content-tile--two-lines">
                                    <strong>{{mensaje.text}}</strong>
                                    <span>por {{mensaje.user.name}}</span>
                                </div>

                                <div class="fab show_more">
                                    <button class="fab__primary btn btn--xl btn--red btn--fab" lx-ripple lx-tooltip="Lorem Ipsum" tooltip-position="top">
                                        <i class="mdi mdi--add"></i>
                                        <i class="mdi mdi--android"></i>
                                    </button>

                                    <div class="fab__actions fab__actions--left">
                                        <button ng-click="remover(mensaje)" class="btn btn--l btn--black btn--fab" lx-ripple lx-tooltip="Lorem Ipsum" tooltip-position="top"><i class="mdi mdi--delete"></i>
                                        </button>
                                        <button class="btn btn--l btn--black btn--fab" lx-ripple lx-tooltip="Lorem Ipsum" tooltip-position="top"><i class="mdi mdi--archive"></i>
                                        </button>
                                        <button class="btn btn--l btn--black btn--fab" lx-ripple lx-tooltip="Lorem Ipsum" tooltip-position="top"><i class="mdi mdi--edit"></i>
                                        </button>
                                    </div>
                                </div>
                            </li>
                        </fa-surface>

                    </fa-view>
                </fa-scroll-view>
            </fa-modifier>

            <!-- footer fa-background-color="'green'" -->
            <fa-surface>


                <form name="myMessageForm" ng-submit="enviar()">

                    <div class="grid">
                        <div class="grid__col4">
                            <lx-text-field label="Escribe tu mensaje">
                                <input type="text" ng-model="nuevo.mensaje" required min="3">
                            </lx-text-field>
                        </div>

                        <div class="grid__col4">
                            <input type="submit" ng-disabled="myMessageForm.$invalid" class="btn btn--m btn--blue btn--raised" lx-ripple>
                        </div>

                    </div>


                    <!-- <input type="submit" value="Enviar mensaje"> -->

                </form>

            </fa-surface>

        </fa-header-footer-layout>

    </fa-flexible-layout>

</fa-app>
