<fa-app id="chatView">

    <fa-flexible-layout fa-options="{ratios:[1,1]}">



        <fa-header-footer-layout fa-options="{headerSize: 75, footerSize: 75}">


            <fa-surface>
                <button ui-sref="inicio" class="btn btn--m btn--red btn--raised" lx-ripple>Ir al inicio</button>
                Prueba de board
                <button ng-click="pin.nuevo()" class="btn btn--m btn--orange btn--raised" lx-ripple>Nuevo pin</button>
            </fa-surface>

            <!--<fa-surface>-->
            <!--<fa-scroll-view fa-pipe-from="eventHandler2">-->
            <!--<fa-view>-->
            <fa-surface fa-size="[undefined, undefined]" class="mainboard">


                <!--<masonry im-pins="pins">-->

                <div class="boxfixed">
                    <!--INICIA                    -->
                    <div class="item" ng-repeat="pin in pins">

                        <div class="card">


                            <div class="card__content card__content--small">
                                {{pin.tipo}}
                                <div ng-switch on="pin.tipo||false">
                                    <div ng-switch-when="votaciones">

                                        Descripcion de las votacion
                                        <!-- <lx-text-field label="Description">-->
                                        <!--    <textarea ng-model="pin.desc"></textarea>-->
                                        <!--</lx-text-field>-->
                                        Lista de opciones
                                        <!--<select name="" ng-model="pin.valor" id="">-->
                                        <!--    <option value="mensaje">Mensaje</option>-->
                                        <!--    <option value="votaciones">Votacion</option>-->
                                        <!--    <option value="tarea">Tarea</option>-->
                                        <!--    <option value="cuentas">Cuentas</option>-->
                                        <!--</select>-->
                                        Agregar nueva opcion
                                        <!--<lx-text-field label="Company">-->
                                        <!--    <input type="text" ng-model="pin.nueva">-->
                                        <!--</lx-text-field>-->

                                        FEcha de termino de la votacion resultados
                                        <!--<input type="checkbox" ng-model="pin.finalizo">-->


                                    </div>
                                    <div ng-switch-when="mensaje"> Aqui sale el mensaje

                                    </div>
                                    <div ng-switch-when="cuentas">
                                        agregar concepto precio total total repartido
                                    </div>
                                    <div ng-switch-when="tarea">
                                        Descripcion







                                        <!--<input type="text" name="" /> Usuario fecha para conclusion done/undone-->


                                    </div>
                                    <div ng-switch-default>


                                        <span class="card-subtitle">Configura tu pin</span>

                                        <div class="paragraph">
                                            <input type="text" ng-model="pin.holas" /> sadasds
                                            <p>


                                                



                                            </p>
                                        </div>

                                    </div>




                                </div>

                                <select sng-model="pin.tipo" sng-change="cambiarPin(pin)" id="">
                                    <option value="mensaje">Mensaje</option>
                                    <option value="votaciones">Votacion</option>
                                    <option value="tarea">Tarea</option>
                                    <option value="cuentas">Cuentas</option>
                                </select>

                            </div>

                            <div class="card__actions">
                                <button class="btn btn--m btn--black btn--flat" ng-click="guardarPin(pin)" lx-ripple>Guardar</button>
                                <button class="btn btn--m btn--orange btn--flat" ng-click="quitarPin(pin)" lx-ripple>Eliminar</button>
                            </div>



                        </div>



                    </div>
                    <!--TEMRINA-->
                </div>


                <!--</masonry>-->





                <!--<div class="grid">-->
                <!--    <div ng-repeat="pin in pins" sfa-pipe-to="eventHandler2" class="grid__col3">-->
                <!--        <div class="card">-->
                <!--            <div class="card__top card__top--img">-->
                <!--<img src="/demo/images/demo/2-horizontal.jpg">-->
                <!--                <strong class="card-title">{{pin.text}}</strong>-->
                <!--            </div>-->

                <!--            <div class="card__content card__content--small">-->
                <!--                <span class="card-subtitle">Lorem Ipsum</span>-->

                <!--                <div class="paragraph">-->
                <!--                    <p>-->
                <!--                        {{pin}} Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tristique orci a lacinia malesuada.-->
                <!--                    </p>-->
                <!--                </div>-->
                <!--            </div>-->

                <!--            <div class="card__actions">-->
                <!--                <button class="btn btn--m btn--black btn--flat" lx-ripple>Share</button>-->
                <!--                <button class="btn btn--m btn--orange btn--flat" lx-ripple>Learn more</button>-->
                <!--            </div>-->
                <!--        </div>-->

                <!--    </div>-->
                <!--</div>-->

            </fa-surface>

            <!--</fa-view>-->
            <!--</fa-scroll-view>-->

            <!--</fa-surface>-->



            <fa-surface>
                Footer de baord
            </fa-surface>

        </fa-header-footer-layout>

        <fa-header-footer-layout fa-options="{headerSize: 75, footerSize: 75}">
            <!-- header -->
            <fa-surface fa-index="2">
                <div ng-repeat="usuarioContecado in usuariosOnline" style="display:inline-block;">
                    <div class="fab ml" style="display:inline-block;" ng-if='$index <= 1'>
                        <button class="btn btn--m btn--black btn--flat" lx-ripple lx-tooltip="{{usuarioContecado.usuario.name}}" tooltip-position="bottom">
                            <img class="list-primary-tile__img" ng-src="{{usuarioContecado.usuario.image}}">
                        </button>
                    </div>
                    <div class="fab ml" style="display:inline-block;" ng-if='$index == 2'>
                        <button class="fab__primary btn btn--xl btn--green btn--fab" lx-ripple lx-tooltip="Más usuarios" tooltip-position="right">
                            <i class="mdi mdi--add"></i>
                            <i class="mdi mdi--android"></i>
                        </button>

                        <div class="fab__actions fab__actions--down">
                            <div ng-repeat="usuarioContecadoOculto in usuariosOnline" ng-if='$index >= $parent.$index'>
                                <button class="btn btn--m btn--black btn--flat" lx-ripple lx-tooltip="{{usuarioContecadoOculto.usuario.name}}" tooltip-position="bottom">
                                    <img class="list-primary-tile__img" ng-src="{{usuarioContecadoOculto.usuario.image}}">
                                </button>
                            </div>
                        </div>
                        <!-- {{Date.now()}} {{usuarioContecado.time}}-->
                    </div>

                </div>




            </fa-surface>

            <!-- content fa-background-color="'blue'" -->


            <!--<fa-scroll-view fa-index="3" fa-pipe-from="eventHandler" sfa-options="{clipSize:500}">-->
            <!--    <fa-view fa-index="3">-->

            <fa-surface fa-size="[undefined, undefined]" class="chatbox animacion">
                <ul class="list">
                    <li ng-repeat="mensaje in mensajes" sfa-pipe-to="eventHandler" class="list-row list-row--has-primary list-row--has-separator">
                        <div class="list-primary-tile">
                            <img class="list-primary-tile__img" ng-src="{{mensaje.user.image}}">
                        </div>

                        <div class="list-content-tile list-content-tile--two-lines">
                            <strong>{{mensaje.text}}</strong>
                            <span>por {{mensaje.user.name}} <span am-time-ago="::mensaje.date"></span></span>
                        </div>

                        <div class="fab show_more">
                            <button class="fab__primary btn btn--xl btn--red btn--fab" lx-ripple lx-tooltip="Lorem Ipsum" tooltip-position="top">
                                <i class="mdi mdi--add"></i>
                                <i class="mdi mdi--android"></i>
                            </button>

                            <div class="fab__actions fab__actions--left">

                                <button ng-click="remover(mensaje)" class="btn btn--l btn--black btn--fab" lx-ripple lx-tooltip="Eliminar" tooltip-position="top"><i class="mdi mdi--delete"></i>
                                </button>

                                <button class="btn btn--l btn--black btn--fab" lx-ripple lx-tooltip="Marcar" tooltip-position="top"><i class="mdi mdi--archive"></i>
                                </button>
                                <button class="btn btn--l btn--black btn--fab" lx-ripple lx-tooltip="Editar" tooltip-position="top"><i class="mdi mdi--edit"></i>
                                </button>
                            </div>
                        </div>
                    </li>
                </ul>
            </fa-surface>

            <!--    </fa-view>-->
            <!--</fa-scroll-view>-->

            <!-- footer fa-background-color="'green'" -->
            <fa-surface fa-index="1">


                <form name="myMessageForm" ng-submit="enviar()">

                    <div class="grid">
                        <div class="grid__col4">
                            <lx-text-field label="Escribe tu mensaje">
                                <input type="text" ng-model="nuevo.mensaje" required min="3">
                            </lx-text-field>
                        </div>

                        <div class="grid__col4">
                            <input type="submit" ng-disabled="myMessageForm.$invalid" class="btn btn--m btn--blue btn--raised" lx-ripple>
                        </div>

                    </div>

                    <!-- <input type="submit" value="Enviar mensaje"> -->

                </form>

            </fa-surface>


        </fa-header-footer-layout>

    </fa-flexible-layout>

</fa-app>
