<fa-app id="chatView">

    <fa-flexible-layout fa-options="{ratios:[1,1]}">



        <fa-header-footer-layout fa-options="{headerSize: 75, footerSize: 75}">


            <fa-surface>
                <button ui-sref="inicio" class="btn btn--m btn--red btn--raised" lx-ripple>Ir al inicio</button>
                Prueba de board
                <button ng-click="pin.nuevo()" class="btn btn--m btn--orange btn--raised" lx-ripple>Nuevo pin</button>
            </fa-surface>

            <!--<fa-surface>-->
            <!--<fa-scroll-view fa-pipe-from="eventHandler2">-->
            <!--<fa-view>-->
            <fa-surface fa-size="[undefined, undefined]" class="mainboard">




                <div class="" ng-repeat="pink in pins" pin-view>
                    <div class="card">
                        <select ng-model="pink.tipo" ng-options="key as tipo.title for (key, tipo) in tipos"></select>
                        <div class="card__content card__content--small">
                            <div ng-show="pink.tipo == 'votaciones'">
                                <lx-text-field label="Descripcion de la votacion">
                                    <input type="text" ng-model="data.votaciones" required min="3">
                                </lx-text-field>
                                <div id="opciones">
                                    <ul>
                                        <li ng-repeat="opcion in pink.opciones">
                                            <input type="checkbox">{{opcion.value}}

                                            <br>
                                            <button ng-click="opcion.votos = opcion.votos ? opcion.votos + 1 : 1; guardarPin(pink)">Votos {{opcion.votos}}</button>

                                        </li>
                                    </ul>
                                </div>
                                <!-- lista de opciones -->
                                <lx-text-field label="Agregar nueva opcion">
                                    <input type="text" ng-model="data.opcion" required min="3">
                                    <button ng-click="pink.opciones.push({value:data.opcion})">Agregar</button>
                                </lx-text-field>
                                <lx-date-picker model="data.fecha" label="Fecha para terminarla"></lx-date-picker>
                            </div>
                            <div ng-show="pink.tipo == 'mensaje'">
                                <lx-text-field label="Mensaje">
                                    <input type="text" ng-model="data.mensaje" required min="3">
                                </lx-text-field>
                            </div>
                            <div ng-show="pink.tipo == 'cuentas'">
                                <lx-text-field label="Concepto">
                                    <input type="text" ng-model="data.concepto" required min="3">
                                </lx-text-field>
                                <lx-text-field label="Precio">
                                    <input type="text" ng-model="data.precio" required min="3">
                                </lx-text-field>
                                <button ng-click="pink.concepto.push({value:data.concepto}); pink.precio.push({value:data.precio});">Agregar</button>
                            </div>
                            <div ng-show="pink.tipo == 'tarea'">
                                <lx-text-field label="¿En que consiste la tarea?">
                                    <input type="text" ng-model="data.descripcion" required min="3">
                                </lx-text-field>
                                <lx-text-field label="¿Quien es el encargado?">
                                    <input type="text" ng-model="data.encargado" required min="3">
                                </lx-text-field>
                                <lx-date-picker model="data.fecha" label="Fecha para terminarla"></lx-date-picker>
                                <div class="checkbox">
                                    <input type="checkbox" id="done" class="checkbox__input">
                                    <label for="checkbox1" class="checkbox__label">Done</label>
                                </div>
                            </div>


                        </div>

                        <div class="card__actions">
                            <button ng-hide="pink.saved" class="btn btn--m btn--black btn--flat" ng-click="guardarPin(pink)" lx-ripple>Guardar</button>
                            <button class="btn btn--m btn--orange btn--flat" ng-click="quitarPin(pink)" lx-ripple>Eliminar</button>
                        </div>






                    </div>
                    <!--TEMRINA-->
                </div>







                <!--<div class="grid">-->
                <!--    <div ng-repeat="pin in pins" sfa-pipe-to="eventHandler2" class="grid__col3">-->
                <!--        <div class="card">-->
                <!--            <div class="card__top card__top--img">-->
                <!--<img src="/demo/images/demo/2-horizontal.jpg">-->
                <!--                <strong class="card-title">{{pin.text}}</strong>-->
                <!--            </div>-->

                <!--            <div class="card__content card__content--small">-->
                <!--                <span class="card-subtitle">Lorem Ipsum</span>-->

                <!--                <div class="paragraph">-->
                <!--                    <p>-->
                <!--                        {{pin}} Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tristique orci a lacinia malesuada.-->
                <!--                    </p>-->
                <!--                </div>-->
                <!--            </div>-->

                <!--            <div class="card__actions">-->
                <!--                <button class="btn btn--m btn--black btn--flat" lx-ripple>Share</button>-->
                <!--                <button class="btn btn--m btn--orange btn--flat" lx-ripple>Learn more</button>-->
                <!--            </div>-->
                <!--        </div>-->

                <!--    </div>-->
                <!--</div>-->

            </fa-surface>

            <!--</fa-view>-->
            <!--</fa-scroll-view>-->

            <!--</fa-surface>-->

            <fa-surface>
                Footer de baord
            </fa-surface>

        </fa-header-footer-layout>

        <fa-header-footer-layout fa-options="{headerSize: 75, footerSize: 75}">
            <!-- header -->
            <fa-surface fa-index="2">
                <div class="contenedorUsuariosOnline">
                    <div ng-repeat="usuarioContecado in usuariosOnline" style="display:inline-block;">
                        <div class="fab ml" style="display:inline-block;" ng-show='$index <= 0'>
                            <button class="btn btn--m btn--black btn--flat" lx-ripple lx-tooltip="{{usuarioContecado.usuario.name}}" tooltip-position="bottom">
                                <img class="list-primary-tile__img" ng-src="{{usuarioContecado.usuario.image}}">
                            </button>
                        </div>
                        <div class="fab ml" style="display:inline-block;" ng-show="$index == 1">
                            <button class="fab__primary btn btn--xl btn--green btn--fab" lx-ripple lx-tooltip="Más usuarios conectados" tooltip-position="bottom" style="position: relative; top: -7px;">
                                <i class="mdi mdi--add"></i>
                                <i class="mdi mdi--android"></i>
                            </button>

                            <div class="fab__actions fab__actions--left">
                                <button ng-repeat="usuarioContecadoOculto in usuariosOnline" ng-show='$index >= $parent.$index' class="btn btn--l btn--black btn--flat" lx-ripple lx-tooltip="{{usuarioContecadoOculto.usuario.name}}" tooltip-position="bottom" style="position: relative; top:7px;">
                                    <img class="list-primary-tile__img" ng-src="{{usuarioContecadoOculto.usuario.image}}">
                                </button>
                            </div>
                            <!-- {{Date.now()}} {{usuarioContecado.time}}-->
                        </div>
                    </div>
                </div>




            </fa-surface>

            <!-- content fa-background-color="'blue'" -->


            <!--<fa-scroll-view fa-index="3" fa-pipe-from="eventHandler" sfa-options="{clipSize:500}">-->
            <!--    <fa-view fa-index="3">-->


            <fa-surface fa-size="[undefined, undefined]" chat-view-scroll class="chatbox animacion contenedorChat">
                <ul class="list">
                    <li ng-repeat="mensaje in mensajes" message-view sg-init="init(mensaje)" sfa-pipe-to="eventHandler" class="list-row list-row--has-primary list-row--has-separator comentario">
                        <div class="list-primary-tile">
                            <img class="list-primary-tile__img" ng-src="{{mensaje.user.image}}">
                        </div>

                        <div class="list-content-tile list-content-tile--two-lines">
                            <div>
                                <strong class="mensajeDatos">{{mensaje.text}}</strong>
                            </div>
                            <div ng-repeat="one in media">
                                <hr class="archivos">
                                <button class="btn btn--m btn--orange btn--raised" lx-ripple ng-hide="one.render" ng-click="showMedia(one)">Ver contenido</button>
                                <a href="{{one.url}}" ng-show="one.error" ng-click="showMedia(one)">Abrir</a>
                                <h3 ng-show="one.loading">Cargando...</h3>

                                <div ng-show="one.html" ng-bind-html="one.html"></div>
                            </div>
                            <span>por {{mensaje.user.name}} <span am-time-ago="::mensaje.date" class="mdi mdi--alarm-on"></span></span>
                        </div>


                        <!-- -->


                        <div class="fab show_more">
                            <button class="fab__primary btn btn--xl btn--red btn--fab" lx-ripple lx-tooltip="Lorem Ipsum" tooltip-position="top">
                                <i class="mdi mdi--add"></i>
                                <i class="mdi mdi--android"></i>
                            </button>

                            <div class="fab__actions fab__actions--left">

                                <button ng-click="remover(mensaje)" class="btn btn--l btn--black btn--fab" lx-ripple lx-tooltip="Eliminar" tooltip-position="top"><i class="mdi mdi--delete"></i>
                                </button>

                                <button class="btn btn--l btn--black btn--fab" lx-ripple lx-tooltip="Archivar como Ping" tooltip-position="top"><i class="mdi mdi--archive"></i>
                                </button>
                                <button class="btn btn--l btn--black btn--fab" lx-ripple lx-tooltip="Editar" tooltip-position="top"><i class="mdi mdi--edit"></i>
                                </button>
                            </div>
                        </div>
                    </li>
                </ul>
            </fa-surface>

            <!--    </fa-view>-->
            <!--</fa-scroll-view>-->

            <!-- footer fa-background-color="'green'" -->
            <fa-surface fa-index="1">
                <form name="myMessageForm" ng-submit="enviar()">
                    <div class="grid" style="position:relative; top:-10px;">
                        <div class="grid__col6">
                            <lx-text-field label="Escribe tu mensaje">
                                <input type="text" ng-model="nuevo.mensaje" required min="3" style="background-color: #FFCDD2;">
                            </lx-text-field>
                        </div>

                        <div class="grid__col4" style="margin-top: 26px;">
                            <input type="submit" ng-disabled="myMessageForm.$invalid" class="btn btn--m btn--blue btn--raised" lx-ripple>
                        </div>
                    </div>
                    <!-- <input type="submit" value="Enviar mensaje"> -->
                </form>

            </fa-surface>
        </fa-header-footer-layout>
    </fa-flexible-layout>

</fa-app>