Este es el inicio
<button ng-hide="user" ng-click="login()">Entrar con Facebook</button>

<p ng-show="user">

    <div align="center">
        <img src="" ng-src="{{user.image}}" alt=""><br>
        {{user.name}}
    </div>

</p>

<a href="/hola" ng-disable="true" ui-sref="chat({chat:sala})">Ir a la sala {{sala}}</a>


<input type="text" ng-model="sala" /><input type="button" ng-disable="true" onclick="window.location='chat({chat:sala})';" />


<ul>
    <li ng-repeat="chat in chats">{{chat.title}}
        <button ui-sref="chat({chat:chat.title})">Entrar</button>
    </li>
</ul>