<div style="margin-top:20px;">
    <div align="center" style="width: 150px; display: inline-block;">
        <button ng-hide="user" ng-click="login()">Entrar con Facebook</button>
        <div ng-show="user">
            <img src="" ng-src="{{user.image}}" alt="">
            <br>{{user.name}}
            <br>{{user.name}}
        </div>
    </div>


    <div style="width: calc(100% - 160px); display: inline-block;">
        <div>
            <input type="text" ng-model="sala" placeholder="Nombre de la sala a crear" />
            <button ng-disable="true" ui-sref="chat({chat:sala})" class="btn btn--m btn--red btn--raised" lx-ripple>Crear la sala <i><b>{{sala}}</b></i>
            </button>
        </div>

        <div>
            Mis Salas:

            <ul>
                <li ng-repeat="chat in chats">
                    <div style="display:inline-block; width: 200px;">
                        {{chat.title}}
                    </div>
                    <div style="display:inline-block; width: 200px;">
                        <button ui-sref="chat({chat:chat.title})">Entrar</button>
                        <button ui-sref="chat({chat:chat.title})">Salir</button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>