<h1 id="views-famo-us-interaction-components-build-status-https-travis-ci-org-famous-views-svg-https-travis-ci-org-famous-views-">Views: Famo.us interaction components <a href="https://travis-ci.org/Famous/views"><img src="https://travis-ci.org/Famous/views.svg" alt="Build Status"></a></h1>
<p>Views are visually interactable components for use in applications.</p>
<h2 id="files">Files</h2>
<ul>
<li>ContextualView.js: ContextualView is an interface for creating views that need
to be aware of their parent&#39;s transform, size, and/or origin.</li>
<li>Deck.js: A Sequential Layout that can be opened and closed with animations.</li>
<li>DrawerLayout.js: A layout which will arrange two renderables: a featured content, and a
concealed drawer. The drawer can be revealed from any side of the
content (left, top, right, bottom) by dragging the content.</li>
<li>EdgeSwapper.js: Container which handles swapping renderables from the edge of
its parent context.</li>
<li>FlexibleLayout.js: A layout which divides a context into sections based on a proportion
of the total sum of ratios.  FlexibleLayout can either lay renderables out vertically
or horizontally.</li>
<li>Flipper.js: Allows you to link two renderables as front and back sides that
can be &#39;flipped&#39; back and forth along a chosen axis.</li>
<li>GridLayout.js: A layout which divides a context into several evenly-sized grid
cells.</li>
<li>HeaderFooterLayout.js: A layout which will arrange three renderables into a
header and footer area of defined size, and a content area of flexible size.</li>
<li>Lightbox.js: Lightbox, using transitions, shows and hides different renderables.</li>
<li>RenderController.js: Show, hide, or switch between different renderables with
a configurable transitions and in/out states</li>
<li>ScrollContainer.js: A scrollview added within a container surface.</li>
<li>Scroller.js: Doc: Lays out a collection of renderables, and will browse through them based on accessed position.</li>
<li>Scrollview.js:  Lays out the sequenced renderables sequentially and makes them
scrollable.</li>
<li>SequentialLayout.js: Lays out specified renderables sequentially.</li>
</ul>
<h1 id="documentation">Documentation</h1>
<ul>
<li><a href="http://famo.us/docs">Reference Docs</a></li>
<li><a href="http://famo.us/guides/dev/render-tree.html">Render Tree</a></li>
<li><a href="http://famo.us/guides/dev/layout.html">Layout</a></li>
</ul>
<h2 id="license">License</h2>
<p>Copyright (c) 2014 Famous Industries, Inc.</p>
<p>This Source Code Form is subject to the terms of the Mozilla Public License,
v. 2.0. If a copy of the MPL was not distributed with this file, You can obtain
one at <a href="http://mozilla.org/MPL/2.0/">http://mozilla.org/MPL/2.0/</a>.</p>
